USE [master]
GO
/****** Object:  Database [DBCafeen]    Script Date: 20-05-2016 14:59:14 ******/
CREATE DATABASE [DBCafeen]

ALTER DATABASE [DBCafeen] SET COMPATIBILITY_LEVEL = 120
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBCafeen].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBCafeen]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 20-05-2016 14:59:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[History]    Script Date: 20-05-2016 14:59:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[History](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](50) NOT NULL,
	[ProductQty] [int] NOT NULL,
	[CatName] [nvarchar](50) NOT NULL,
	[CatPrice] [decimal](18, 0) NOT NULL,
	[Timestamp] [datetime2](7) NOT NULL,
	[Message] [nvarchar](100) NULL,
 CONSTRAINT [PK_History] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblAccounting]    Script Date: 20-05-2016 14:59:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAccounting](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[StartCash] [decimal](18, 0) NOT NULL,
	[EndCash] [decimal](18, 0) NULL,
	[CardCash] [decimal](18, 0) NOT NULL,
	[Timestamp] [datetime2](7) NOT NULL,
	[LockStatus] [bit] NOT NULL,
	[StartProduct] [nvarchar](4000) NULL,
	[EndProduct] [nvarchar](4000) NULL,
 CONSTRAINT [PK_tblAccouting] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblCategory]    Script Date: 20-05-2016 14:59:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCategory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
	[Price] [decimal](18, 2) NULL,
 CONSTRAINT [PK_dbo.tblCategory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblProduct]    Script Date: 20-05-2016 14:59:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblProduct](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Qty] [int] NOT NULL,
	[CategoryId] [int] NULL,
 CONSTRAINT [PK_dbo.tblProduct] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Index [IX_CategoryId]    Script Date: 20-05-2016 14:59:14 ******/
CREATE NONCLUSTERED INDEX [IX_CategoryId] ON [dbo].[tblProduct]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[History] ADD  CONSTRAINT [DF_History_Timestamp]  DEFAULT (sysdatetime()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[tblAccounting] ADD  CONSTRAINT [DF_tblAccounting_Timestamp]  DEFAULT (sysdatetime()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[tblAccounting] ADD  CONSTRAINT [DF_tblAccouting_LockStatus]  DEFAULT ((0)) FOR [LockStatus]
GO
ALTER TABLE [dbo].[tblProduct]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tblProduct_dbo.tblCategory_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[tblCategory] ([Id])
GO
ALTER TABLE [dbo].[tblProduct] CHECK CONSTRAINT [FK_dbo.tblProduct_dbo.tblCategory_CategoryId]
GO
USE [master]
GO
