
@{
    ViewBag.Title = "Caféen? - Home";
}

<h2>Welcome to Caféen?'s administrative home page!</h2>
<br />
<h3>Here is the most commonly used features:</h3>
<ol>
    <li><p>Click @Html.ActionLink("here","Index", "tblProducts", null,  new { @class = "btn btn-primary btn-large" }) to update or inspect the <b><i>inventory.</i></b></p></li>
</br>
    <li><p>Click @Html.ActionLink("here", "Index", "Accountings", null, new { @class = "btn btn-primary btn-large" }) to see and update <b><i>cash holdings.</i></b></p></li>
</br>
    <li><p>Click @Html.ActionLink("here (but not now, this is not implemented)", "Index", "History", null, new { @class = "btn btn-primary btn-large" }) to see a <b><i>history overview.</i></b></p></li>
</ol>

