
@{
    ViewBag.Title = "Index";

}

<h2>Index</h2>

<form action="" method="post">
    Username: <input type="text" id="usernameInput"/>
    <br />
    <br />
    Password: <input type="text" id="passwordInput"/>
</form>
